body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#videoElement {
    width: 480px; /* Adjust as needed */
    border: 1px solid black;
}

#description {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
